<div class="contents">
  <div class="title_home">
  <h1>PROJET AUDIO</h1>
  <h6>SUBTILE...</h6>
</div>
  <h3><span>VIDEOS</h3></span><a href="/videos">ALL VIDEOS</a>
  <br>
  <br>
 <div class="images_content">
 <div class="images_gauche">
    <img class="images_home" src="/assets/video-like-a-rose-530x300.jpg"><p>Like A Rose -- Ashley Monroe</p>
 </div>
 <div class="images_milieu">
   <img class="images_home" src="/assets/video-big-love-550-530x300.jpg"><p>Big Love -- Carrie Rodriguez</p>
 </div>
 <div class="images_droite">
   <img class="images_home" src="/assets/video-waitin-on-june-530x300.jpg"><p>Waiting On June Holly Williams</p>
 </div>
</div>
  <div class="coming">
<h3>UPCOMING GIGS</h3>
  </div>
  <div class="date">
   <p><span class="mois">SEP <span class="jour">14</span></span><span class="droite">The Bluebird Cafe</span><span class="milieu">Nashville, TN</span</p>
  </div>
  <div class="date">
    <p><span class="mois">SEP <span class="jour">16</span></span><span class="droite">Tractor Tavern</span><span class="milieu">Seattle, WA</span</p>
  </div>
  <div class="date">
    <p><span class="mois">SEP <span class="jour">17</span></span><span class="droite">The Birchmere</span><span class="milieu">Alexendria, VA</span</p>
  </div>
  <div class="date">
   <p><span class="mois">SEP <span class="jour">25</span></span><span class="droite">The Hamilton</span><span class="milieu">Washington, DC</span</p>
  </div>
  <div class="date">
    <p><span class="mois">OCT <span class="jour">30</span></span><span class="droite">Zinc Arts Center</span><span class="milieu">Chipping Onggar, Essex</span</p>
  </div>
    <a href="/">VIEW ALL GIGS</a>
  <div class="content_bottom">
    <div class="content_left">
    	<h3>ABOUT OBSIDIAN</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel ullamcorper nisi. Donec eu vehicula augue, vitae aliquam est. Aenean in molestie libero. Vestibulum luctus justo eget leo tempor aliquet. Cras gravida dolor non orci scelerisque, eget lobortis mauris molestie. Nulla viverra non elit id varius. Suspendisse accumsan dapibus purus, vel gravida justo elementum sed. Sed tincidunt urna sit amet elit condimentum sagittis. Nunc et massa ultricies, sodales turpis eu, suscipit mi. Maecenas facilisis erat quis vestibulum tempor. Nulla molestie sem mi, ac faucibus nulla aliquet id. </p>
    </div>
    <div class="content_middle">
    	<h3>VIVIENNE'S OMITTED LINE</h3>
          <img src="/assets/album-03.jpg">
    </div>
    <div class="content_right">
    	<h3>RECENT POSTS</h3>
          <h4>Welcome to our redesigned website</h4>
          <h5>APRIL 1, 2015</h5>
          <h4>New tour dates posted</h4>
          <h5>DECEMBER 16, 2014</h5>
          <h4>History of Popular Music</h4>
          <h5>DECEMBER 15, 2014</h5>
    </div>	
  </div>
</div>