<div class="contents">
   <div class="title_home">
    <h1>PROJET AUDIO</h1>
    <h6>NEWS</h6>
   </div>
<div class="content_news">
 <div class="content_left_news">
  <h2>Welcome to our redesigned website</h2>
  <h5>BY BRODY ON APRIL 1, 2015</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non commodo tortor. Etiam et dui imperdiet, venenatis quam vel, imperdiet nisi. Praesent lacinia augue ut erat dictum, ac sollicitudin lorem elementum. Curabitur venenatis turpis convallis dui tristique, quis pellentesque nunc sodales. Nam elementum magna vitae libero bibendum cursus. Donec sed dui sit amet ligula congue vulputate. Ut a finibus diam. Sed rhoncus nec ante et tincidunt. Ut ullamcorper neque turpis, ut ultrices lorem malesuada non. In hac habitasse platea dictumst. Curabitur non odio bibendum, tincidunt libero eu, consequat turpis. Vestibulum nec consectetur ipsum, venenatis ornare risus. Curabitur porta sodales dui eu efficitur. Integer facilisis finibus nunc, ac ullamcorper massa blandit sed. </p>
  <h2>New tour dates posted</h2>
  <h5>BY BRODY ON DECEMBER 16, 2014</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non commodo tortor. Etiam et dui imperdiet, venenatis quam vel, imperdiet nisi. Praesent lacinia augue ut erat dictum, ac sollicitudin lorem elementum. Curabitur venenatis turpis convallis dui tristique, quis pellentesque nunc sodales. Nam elementum magna vitae libero bibendum cursus. Donec sed dui sit amet ligula congue vulputate. Ut a finibus diam. Sed rhoncus nec ante et tincidunt. Ut ullamcorper neque turpis, ut ultrices lorem malesuada non. In hac habitasse platea dictumst. Curabitur non odio bibendum, tincidunt libero eu, consequat turpis. Vestibulum nec consectetur ipsum, venenatis ornare risus. Curabitur porta sodales dui eu efficitur. Integer facilisis finibus nunc, ac ullamcorper massa blandit sed. </p>
  <h2>History of Popular Music</h2>
  <h5>BY BRODY ON DECEMBER 14, 2014</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non commodo tortor. Etiam et dui imperdiet, venenatis quam vel, imperdiet nisi. Praesent lacinia augue ut erat dictum, ac sollicitudin lorem elementum. Curabitur venenatis turpis convallis dui tristique, quis pellentesque nunc sodales. Nam elementum magna vitae libero bibendum cursus. Donec sed dui sit amet ligula congue vulputate. Ut a finibus diam. Sed rhoncus nec ante et tincidunt. Ut ullamcorper neque turpis, ut ultrices lorem malesuada non. In hac habitasse platea dictumst. Curabitur non odio bibendum, tincidunt libero eu, consequat turpis. Vestibulum nec consectetur ipsum, venenatis ornare risus. Curabitur porta sodales dui eu efficitur. Integer facilisis finibus nunc, ac ullamcorper massa blandit sed. </p>
    <h2>Morning Star Now Available!</h2>
    <h5>BY BRODY ON DECEMBER 14, 2014</h5>
      <img src="/assets/album-01.jpg">
 </div> 
<div class="content_right_news">
    <input class="recherche" type="search" placeholder="Search ...">
    <h3>LATEST NEWS</h3>
          <h4>Welcome to our redesigned website</h4>
          <p>Props to AudioTheme for providing the kille Obsidian WordPress theme. Feel free to poke around, str...</p>
          <h5>APRIL 1, 2015</h5>
          <h4>New tour dates posted</h4>
          <p>We just announced a handful of new tour dates in support of our latest album. Check'em out he...</p>
          <h5>DECEMBER 16, 2014</h5>
          <h4>History of Popular Music</h4>
          <p>The most significant feature of the emergent popular music industry of the late 18th and earl...</p>
          <h5>DECEMBER 15, 2014</h5>
  </div>
</div>
<div class="content_bottom">
    <div class="content_left">
    	<h3>ABOUT OBSIDIAN</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel ullamcorper nisi. Donec eu vehicula augue, vitae aliquam est. Aenean in molestie libero. Vestibulum luctus justo eget leo tempor aliquet. Cras gravida dolor non orci scelerisque, eget lobortis mauris molestie. Nulla viverra non elit id varius. Suspendisse accumsan dapibus purus, vel gravida justo elementum sed. Sed tincidunt urna sit amet elit condimentum sagittis. Nunc et massa ultricies, sodales turpis eu, suscipit mi. Maecenas facilisis erat quis vestibulum tempor. Nulla molestie sem mi, ac faucibus nulla aliquet id. </p>
    </div>
    <div class="content_middle">
    	<h3>VIVIENNE'S OMITTED LINE</h3>
          <img src="/assets/album-03.jpg">
    </div>
    <div class="content_right">
    	<h3>RECENT POSTS</h3>
          <h4>Welcome to our redesigned website</h4>
          <h5>APRIL 1, 2015</h5>
          <h4>New tour dates posted</h4>
          <h5>DECEMBER 16, 2014</h5>
          <h4>History of Popular Music</h4>
          <h5>DECEMBER 15, 2014</h5>
    </div>	
  </div>
</div>