<div class="contents">
   <div class="title_home">
  <h1>PROJET AUDIO</h1>
  <h6>PHOTOS</h6>
   </div>
  <div class="content_images">
  <div class="ligne_images1">
    <img class="image1_photo"  src="/assets/gallery-09.jpg">
    <img class="image2_photo"  src="/assets/gallery-04.jpg">
    <img class="image3_photo"  src="/assets/gallery-05.jpg">
  </div>
  <div class="ligne_images2">
    <img class="image4_photo"  src="/assets/gallery-08.jpg">
    <img class="image5_photo"  src="/assets/gallery-07.jpg">
    <img class="image6_photo"  src="/assets/gallery-06.jpg">
  </div>
  <div class="ligne_images3">
    <img class="image7_photo"  src="/assets/gallery-03.jpg">
    <img class="image8_photo"  src="/assets/gallery-01.jpg">
    <img class="image9_photo"  src="/assets/gallery-02.jpg">
    <img class="image10_photo" src="/assets/gallery-10.jpg">
  </div>
</div>
<div class="content_bottom">
    <div class="content_left">
    	<h3>ABOUT OBSIDIAN</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel ullamcorper nisi. Donec eu vehicula augue, vitae aliquam est. Aenean in molestie libero. Vestibulum luctus justo eget leo tempor aliquet. Cras gravida dolor non orci scelerisque, eget lobortis mauris molestie. Nulla viverra non elit id varius. Suspendisse accumsan dapibus purus, vel gravida justo elementum sed. Sed tincidunt urna sit amet elit condimentum sagittis. Nunc et massa ultricies, sodales turpis eu, suscipit mi. Maecenas facilisis erat quis vestibulum tempor. Nulla molestie sem mi, ac faucibus nulla aliquet id. </p>
</div>
    <div class="content_middle">
    	<h3>VIVIENNE'S OMITTED LINE</h3>
          <img src="/assets/album-03.jpg">
    </div>
    <div class="content_right">
    	<h3>RECENT POSTS</h3>
          <h4>Welcome to our redesigned website</h4>
          <h5>APRIL 1, 2015</h5>
          <h4>New tour dates posted</h4>
          <h5>DECEMBER 16, 2014</h5>
          <h4>History of Popular Music</h4>
          <h5>DECEMBER 15, 2014</h5>
    </div>	
</div>
</div>